

.header-section{
    width: 375px;
    height: 100px;
    margin: auto;
    background-color: rgb(31, 75, 67);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;

    @media  (min-width:376px) and (max-width:424px){
        width: 424px; 
      
    }

    @media (min-width:425px) and (max-width:767px){
        width: 767px;

    }
    @media (min-width:768px) and (max-width:1024px){
        width: 1023px;
        
    }
    @media (min-width:1025px) {
        width: 100vw; 
        padding: 30px;
    } 

    .left-side{


        h1{
            font-size: 20px;
        }
        p{
            font-size: small;
        }
    }

    .right-side{

        a{
            text-decoration: none;
            color: white;
            font-size: smaller;

        }
    }
}

.main-container{
    width: 375px;
    height: 1500px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
   
   
    background-color: rgb(31, 75, 67);

    @media  (min-width:376px) and (max-width:424px){
        width: 400px; 
       
    }

    @media (min-width:425px) and (max-width:767px){
        width: 750px;
        
        
    }
    @media (min-width:768px) and (max-width:1024px){
        width: 1000px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        height: 1000px;
       
     padding: 30px;
    }

   @media (min-width:1025px){
       width: 100vw; 
       height: 500px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      
      
      padding: 30px;
    } 
    
    .house1{
        width: 360px;
        height: 350px;
        margin: auto; 
        margin-top: 20px;
        text-align: center;
        
       
        @media (min-width:1025px){
            width: 310px;
            
        }

        img{
            width: 300px;
            height: 250px;
            margin-left: 5px;
            border-radius: 9px;
            text-align: center;

            @media (min-width:1025px){
                width: 280px;
                
            }
        }
       


        .house-info{
         margin-top: 10px;
         color: white;
         margin-left: 5px;
         border-bottom: 1px solid white;
         font-weight: 300px;
         opacity: 0.7;
         
      
         
         p{
            margin-bottom: 5px; 
         }
        }
        .room-info{
            display: flex;
            justify-content: space-evenly;
            opacity: 0.5;


        }
    }
}

.footer-links{

    width: 375px;
    height: 50px;
    color: white;
    margin: auto;
    background-color: rgb(31, 75, 67);
    display: flex;
    justify-content: center;
    text-align: center;

    @media  (min-width:376px) and (max-width:424px){
        width: 424px; 
        // padding: 30px;
    }

    @media (min-width:425px) and (max-width:767px){
        width: 767px;

    }

    @media (min-width:768px) and (max-width:1024px){
        width: 1024px;
        
    }


     @media (min-width:1025px) {
        width: 100vw; 
    } 

   .circled-links{
    width: 25px;
    height: 25px;
    

  &:hover {
    border-radius: 50%;
    border: 1px solid white;
    


  }
  .fa-circle{
    margin-top: 10px;
  }
   
   }
}
