* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.featured_categories {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  border: solid 1px #e0dcdc;
  background-color: rgb(255, 248, 246);
}
.featured_categories h2 {
  margin-bottom: 10px;
}
#p1 {
  text-align: left;
  margin-bottom: 20px;
}
.featured_categories p {
  text-align: center;
  margin-bottom: 20px;
}
.featured_categories__items_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.featured_categories__item {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s ease-in;
}
.featured_categories__item:hover {
 outline: 2px solid #9e841c;
  transform: scale(1.1)  translateY(-1.5em);
  box-shadow: .2rem 1rem 2rem rgba(0, 0, 0, .3);
}
.featured_categories__item img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.featured_categories__item h3 {
  font-size: 20px;
  margin: 20px 0;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .featured_categories {
    padding: 15px;
  }
  .featured_categories__items_container {
    justify-content: center;
  }
  .featured_categories__item {
    width: 45%;
    padding: 20px;
  }
}
@media (max-width: 375px) {
  .featured_categories {
    padding: 10px;
  }
  .featured_categories__item {
    width: 100%;
    padding: 15px;
  }
  .featured_categories__item img {
    width: 80px;
    height: 80px;
  }
  .featured_categories__item h3 {
    font-size: 18px;
    margin: 15px 0;
    padding-bottom: 8px;
  }
}
