.big-container{
  width: 375px;
  height: 1200px;
  margin: auto;
  text-align: center;
  padding: 10px;
   background-color: rgb(249, 249, 249);
 
  @media  (min-width:376px) and (max-width:424px){
      width: 424px;
  }
  @media (min-width:425px) and (max-width:767px){
      width: 767px;
  }
  @media (min-width:768px) and (max-width:1023px){
      width: 800px;
      height: 500px;
  }
  @media (min-width:1024px) {
      width: 100vw;
     height: 500px;
  }

  .small-container{
      width: 80%;
      height:800px;
      margin: auto;
      padding: 10px;
      margin-top: 80px;
    


      @media  (min-width:376px) and (max-width:424px){
          width: 80%;
      }
      @media (min-width:425px) and (max-width:767px){
          width: 80%;
      }
      @media (min-width:768px) and (max-width:1023px){
          width:80vw;
          height: 300px;
          display: flex;
          justify-content: center;
      }
      @media (min-width:1024px) {
          width:80vw;
          height: 300px;
         
          display: flex;
          justify-content: space-evenly;
      }
     
     



      .info-container{
          width: 90%;
          height: 250px;
          margin: auto;
          padding: 10px;
          margin-bottom: 20px;
          box-shadow: 4px 8px 8px lightgray;
          transition: all 0.4s ease-in;

          &:hover{
            transform: scale(1.1) translateY(10px);
          }

          @media (min-width:1024px) {
            margin-right: 30px;
          }

          .logo1{
              width: 55px;
              height: 55px;
              margin: auto;
              background-color:rgb(231, 200, 115);
              border-radius: 8px;
              padding: 10px;
              margin-bottom: 20px;
              margin-top: 30px;


              .fa-house-chimney-window{
                  display: flex;
                  justify-content: center;
                  text-align: center;
              }
          }
      }
  }                     


}