* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header-container {
  background-color: #141414;
  width: 100vw;
}

.container {
  width: 375px;
  height: 658px;
  margin-top: -4.5em;
  position: relative;

  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

  &-h2 {
    display: block;
    color: #e7c873;
    margin-top: 4em;
  }
}

.navigation {
  position: relative; /*is positioned here for the layout. The details are inside navigation.scss*/
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
  }

  &__text h1 {
    font-weight: bold;
    font-size: 1.2em;
  }

  &__text-h1 {
    color: #fff;
    padding-top: 0.1em;
  }

  &__text-dream {
    color: #9e841c;
  }

  .guidebox {
    display: flex;
    justify-content: center;
  }

  .btn {
    display: block;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.7em;

    background-color: #9e841c;
  }
  .btn:hover {
    background-color: #655206;
  }

  .btn-CTA a {
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 700;
  }

  .over-view {
    color: #fafafa;
    padding-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      display: flex;
      justify-content: space-around;
    }

    &__img img {
      width: 3em;
      height: 3em;
      display: block;
      border-radius: 50%;
      border: 2px solid #e7c873;
    }

    &__img img:not(:last-child) {
      margin-right: 2em;
    }

    &__p {
      font-weight: bold;
      padding-top: 0.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .logo-nav {
    margin-top: 5em;
    &-h2 {
      margin-top: 2em;
    }
    &-h2 h2 {
      font-size: 2.5em;
    }
  }
  .container {
    width: 768;
    margin-top: -5em;
    height: 100vh;
  }
  .header {
    height: 100vh;
    &__text h1 {
      font-size: 2em;
    }
    .over-view {
      padding: 0.5em 0;

      &__img {
        padding: 0.5em 0;
      }

      &__img img {
        display: block;
        width: 3.5em;
        height: 3.5em;
      }

      &__img img:not(:last-child) {
        margin-right: 6em;
      }

      &__p {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (min-width: 978px) {
  .logo-nav {
    &-h2 {
      margin-top: 1.5em;
    }
    &-h2 h2 {
      font-size: 2.7em;
    }
  }
  .container {
    margin-top: -4em;
  }
  .header {
    &__text h1 {
      font-size: 2.5em;
      margin-top: -0.3em;
    }

    .over-view {
      padding: 0.5em 0;

      &__img img {
        width: 3.5em;
        height: 3.5em;
      }

      &__img img:not(:last-child) {
        margin-right: 8em;
      }

      &__p {
        font-size: 1.3em;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .logo-nav {
    margin-top: 3em;
    &-h2 {
      margin-top: 3em;
    }
    &-h2 h2 {
      font-size: 3em;
    }
  }
  .container {
    margin-top: -4em;
    height: 100vh;
  }
  .header {
    &__text h1 {
      font-size: 3em;
      padding-top: 0.1em;
    }

    .over-view {
      padding: 0.5em 0;

      &__img {
        padding: 0.5em 0;
      }

      &__img img {
        width: 3.5em;
        height: 3.5em;
      }

      &__img img:not(:last-child) {
        margin-right: 10em;
      }

      &__p {
        font-size: 1.4em;
      }
    }
  }
}
