#meet-our-team {
  width: 375px;
  height: 1220px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  background-color: rgb(231, 200, 115);
  @media screen and (min-width: 376px) and (max-width: 424px) {
    width: 90vw;
    height: 1150px;
    margin: auto;
  }
  @media (min-width: 425px) and (max-width: 767px) {
    width: 90vw;
    height: 1200px;
    margin: auto;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 100vw;
    height: 600px;
    margin: auto;
  }
  @media (min-width: 1025px) {
    width: 100vw;
    height: 400px;
    margin: auto;
  }
  h1 {
    text-align: center;
    font-size: 25px;
    margin: 20px;
  }
  p {
    text-align: center;
    margin-right: 20px;
    @media screen and (min-width: 376px) and (max-width: 425px) {
      margin-top: 30px;
      margin-bottom: 30px;
      margin: auto;
    }
  }
  .team-members {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 1010px;
    text-align: center;
    gap: 5px;
    margin: auto;
    animation: moveInBottom  5s ease-in-out 2s;
   

    @keyframes moveInBottom {
      0% {
          opacity: 0;
          transform: translateY(-5rem);
      }
  
      50%{
        opacity: 0;
          transform: translateY(5rem);
      }

  
      100% {
           opacity: 1;
           transform: translate(-5rem);
      }
  }

    img {
      margin: 10px;
      @media screen and (min-width: 376px) and (max-width: 425) {
        margin-left: 20px;
      }
    }
 
    @media screen and (min-width: 425px) and (max-width: 767) {
      width: 70vw;
      height: 1300px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
      gap: 5px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 70vw;
      height: 40%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
      gap: 5px;
    }

    @media (min-width: 1025px) {
      width: 100vw;
      height: 270px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: auto;
      gap: 2px;
    }
  }
}
